<div>
<!--  <h3>{{ employee.name }}</h3>-->
<!--  <p>Employee type: {{ employee.type }}</p>-->
<!--  <p>Vacation days accumulated: {{ employee.vacationDays }}</p>-->
<!--  <label for="work-days">Work days:</label>-->
<!--  <input id="work-days" type="number" [(ngModel)]="daysWorked">-->
<!--  <button (click)="work(employee.id, daysWorked)">Work</button>-->
<!--  <br>-->
<!--  <label for="vacation-days">Vacation days:</label>-->
<!--  <input id="vacation-days" type="number" [(ngModel)]="daysTaken">-->
<!--  <button (click)="takeVacation(employee.id, daysTaken)">Take vacation</button>-->
<!--  <hr>-->
  <h1>Hello World!</h1>
</div>
